body {
  font-size: 18px;
}

#form {
  margin: auto;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
}

#form ul {
  list-style: none;
}

#form ul > li {
  margin-top: 1rem;
}

.submit-button {
  padding: 0.5rem;
  background-color: darkgreen;
  color: white;
}

#proxy-images {
  display: flex;
  flex-wrap: wrap;
}

#proxy-images > img {
  max-width: 16rem;
}

@media print {
  #form {
    display: none;
  }

  #proxy-images {
    break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    break-inside: avoid; /* or 'auto' */

    display: block;
  }

  #proxy-images > img {

    width: 6.3cm;
    height: 8.8cm;

    margin-left: 1px;
  }
}
